<%@ page pageEncoding="UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center" href="${pageContext.request.contextPath}/pages/index">
            <img src="${pageContext.request.contextPath}/data/icon.svg" width="100" alt="Cruise">
        </a>
        <ul class="nav col-md-auto">
            <c:if test="${not empty sessionScope.loggedUser && sessionScope.loggedUser.roleId == 3}">
                <li><a class="nav-link link-dark px-2"
                       href="${pageContext.request.contextPath}/pages/admin-panel"><fmt:message key="adminPanel"/></a>
                </li>
            </c:if>
            <li><a class="nav-link link-dark px-2" href="${pageContext.request.contextPath}/pages/index"><fmt:message
                    key="indexPage"/></a></li>
            <li><a class="nav-link link-dark px-2"
                   href="${pageContext.request.contextPath}/pages/cruise"><fmt:message key="cruiseFindAll"/></a></li>
            <li><a class="nav-link link-dark px-2" href="${pageContext.request.contextPath}/pages/about"><fmt:message
                    key="about"/></a></li>
            <li>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="langMenuButton"
                            aria-expanded="false" data-bs-toggle="dropdown"><fmt:message key="language"/>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="langMenuButton">
                        <li><a class="dropdown-item"
                               href="${pageContext.request.contextPath}/pages/index?lang=uk"><span
                                class="fi fi-ua"></span> Українська</a>
                        </li>
                        <li><a class="dropdown-item"
                               href="${pageContext.request.contextPath}/pages/index?lang=en"><span
                                class="fi fi-gb"></span> English</a>
                        </li>
                    </ul>
                </div>
            </li>
            <c:if test="${not empty sessionScope.loggedUser}">
                <li><a class="nav-link link-dark px-2"
                       href="${pageContext.request.contextPath}/pages/ticket?action=find-my-tickets"><fmt:message
                        key="myTickets"/>
                    [${sessionScope.loggedUser.login}]</a></li>
            </c:if>
        </ul>
        <div class="col-md-auto text-end">
            <c:choose>
                <c:when test="${not empty sessionScope.loggedUser}"><a class="btn btn-outline-primary"
                                                                       href="${pageContext.request.contextPath}/pages/sign-out"><fmt:message
                        key="SignOut"/></a>
                </c:when>
                <c:otherwise>
                    <a class="btn btn-primary" href="${pageContext.request.contextPath}/pages/auth"><fmt:message
                            key="signIn"/></a>
                </c:otherwise>
            </c:choose>
        </div>
    </header>
</div>